@model IEnumerable<Kosta_test.Models.Employee>
@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html>
	<head>
		<title>КОСТА</title>
	</head>
	<body>
		<form method="post">
			<h1>Сотрудники отдела: @ViewData["Department"]</h1>
			<input type="hidden" name="depID" value="@ViewData["DepartmentID"]"/>
			<table>
				<tr>
					<th>Фамилия</th>
					<th>Имя</th>
					<th>Отчетство</th>
					<th>Должность</th>
				</tr>
			@foreach(var employee in Model)
			{
				<tr>
					<td>@employee.SurName</td>
					<td>@employee.FirstName</td>
					<td>@employee.Patronymic</td>
					<td>@employee.Position</td>
					<td>
						<input type="hidden" name="empID" value="@employee.ID" />
						<input type="submit" value="Details" formaction="/Home/ReadEmployee" />
						<input type="submit" value="Delete" formaction="/Home/DeleteEmployee" />
					</td>
				</tr>
			}
			</table>
			<br>
			<input type="submit" value="Add employee" formaction="/Home/CreateEmployee">			
		</form>
		
		<form method="get">
			<input type="submit" value="Back" formaction="/Home/Index" />
		</form>
</body>
</html>